.imageDisplayContainer {
  display: none;
  width: 100%;
  position: relative;
}

.imageDisplay {
  width: 100%;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 100%;
  }
  .imgLeft {
    position: absolute;
    top: 50%;
    left: 1%;
    color: white;
    text-shadow: 1px 1px $accentColor;
    &:hover {
      cursor: pointer;
      color: lighten($accentColor, 20%);
    }
  }
  .imgRight {
    position: absolute;
    top: 50%;
    right: 1%;
    color: white;
    text-shadow: 1px 1px $accentColor;
    &:hover {
      cursor: pointer;
      color: lighten($accentColor, 20%);
    }
  }
}

.backToAlbums {
  display: block;
  width: 25%;
  margin: 5px 0;
  padding: 10px;
  background-color: $darkColor;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  &::before {
    content: '\f053';
    font-family: "fontawesome";
    color: #fff;
    display: inline-block;
    margin-right: 5px;
  }
  &:hover {
    cursor: pointer;
    background-color: $lightColor;
    color: $accentColor;
    &::before {
      color: $accentColor;
    }
  }
}
