.sideNav {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  background-color: $darkColor;
  color: #fff;
  height: 1000px;
  h2 {
    text-align: center;
    &::before {
      content: '\f053';
      font-family: "fontawesome";
      color: #fff;
      display: none;
      margin-right: 5px;
    }
    &:hover {
      cursor: pointer;
      &::before {
        display: inline-block;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      text-transform: capitalize;
      &:hover {
        cursor: pointer;
        background-color: $lightestColor;
      }
    }
  }
}

.activeAlbum {
  background-color: $lightestColor;
}
