* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; }

header {
  height: 200px;
  background: -webkit-linear-gradient(0deg, #0F5FB2, black); }
  header h1 {
    margin: 0;
    padding-top: 4%;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    color: #fff; }

.mainBody {
  width: 960px;
  margin: 0 auto; }

.row {
  margin: 30px 0; }
  .row .rowItem {
    display: inline-block;
    width: 30%;
    margin-right: 4.75%;
    vertical-align: top; }
    .row .rowItem:last-child {
      margin-right: 0; }
    .row .rowItem img {
      width: 100%;
      height: auto; }
    .row .rowItem span {
      display: block;
      text-align: center;
      text-transform: capitalize; }
